main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://png.clipart.me/istock/previews/7034/70340867-seamless-pattern-of-burgers-and-fries-on-white-background.jpg);
}
